.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
  /* background-color: var(--background-color); */
}

.test-widget {
  background-color: lightblue;
}


:root {

  /* base theme colors */
  --background-color: #F8EDEB;
  --widget-background-color: #FFE5D9




}