body {
    overflow: hidden;
    font-family: 'Outfit', sans-serif;
}

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    /* background-color: var(--background-color); */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Outfit', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    overflow: hidden;
}

.test-widget {
    background-color: lightblue;
}

:root {
    /* base theme colors */
    --widget-background-color: #f8edeb;

    --color-primary: #212121;
    --color-background: #fafafa;
    --color-border: #212121;

    --color-shadow: black;

    --color-surface: #eeeeee;
    --color-on-surface: #212121;

    /* --color-primary: #212121; */
    /* 
    --color-text-primary: #212121;
    --color-text-secondary:#757575;
    --color-text-error: #ff9800;
    --color-interactive: #1976d2; */


    --color-on-background: #212121;

    --widget-border-radius: 12px;
}
