body {
    overflow: hidden;
}

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    /* background-color: var(--background-color); */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.test-widget {
    background-color: lightblue;
}

:root {
    /* base theme colors */
    --widget-background-color: #f8edeb;
    --color-border: #9e9e9e;

    --color-primary: #212121;
    --color-on-primary: #fafafa;

    --color-secondary: #9e9e9e;
    --color-on-secondary: #212121;


    --color-surface: #eeeeee;
    --color-on-surface: #212121;

    --color-background: #fafafa;
    --color-on-background: #212121;

    --widget-border-radius: 16px;

    /* --color-primary-container: #fafafa;
    --color-on-primary-container: #212121; */
}
